<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa2d4c5a-e655-40e2-98ab-3e53932e1335" Alias="Service2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Service2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-18T09:31:30</CreateDate>
    <NodeName Default="Service2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lrgc1ksv/service2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>