<?xml version="1.0" encoding="utf-8"?>
<Media Key="611a29b1-afcc-43cf-ab2d-26a54207e33c" Alias="Service1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Service1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-18T09:31:18</CreateDate>
    <NodeName Default="Service1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w2ubuyom/service1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>