<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17301119-9f83-4b4d-8f80-115f1204f398" Alias="bugsDT" Level="1">
  <Info>
    <Name>BugsDT</Name>
    <Icon>icon-bug color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="32fe6a8d-ee2f-4d7c-a9ba-afa0e8afc99b" SortOrder="0">bugDT</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b36487da-d44f-44c3-b008-6b111fd09cb3</Key>
      <Name>Non-closed Bugs</Name>
      <Alias>nonClosedBugs</Alias>
      <Definition>a0173a64-4697-4f43-b471-98301fd75303</Definition>
      <Type>Umbraco.ListView</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>479258df-127e-4847-8482-f8f5d13d8ce8</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>