<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="45ace9f3-e759-4b25-a8bc-5a8dae9263aa" Alias="releasesDT" Level="1">
  <Info>
    <Name>ReleasesDT</Name>
    <Icon>icon-box-open color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a4d883d3-013e-46e7-bec5-a693f38590d8" SortOrder="0">releaseDT</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>