<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d326c935-37e9-4bab-90ef-7be36682a961" Alias="BugDT - Affecting Service - Multinode Treepicker" Level="1">
  <Info>
    <Name>BugDT - Affecting Service - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "serviceDT",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>