<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ab70e8f-3522-403b-98cb-464cc0af6fe8" Alias="ReleaseDT - SolvedBugs - Multinode Treepicker" Level="1">
  <Info>
    <Name>ReleaseDT - SolvedBugs - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "bugDT",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>