<?xml version="1.0" encoding="utf-8"?>
<DataType Key="22921ba3-bdd6-476f-aeaf-faabf83ffd3b" Alias="ReleaseDT - New Features - Multinode Treepicker" Level="1">
  <Info>
    <Name>ReleaseDT - New Features - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "featureDT",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>