<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ab4d7f4-f172-4b6d-a84d-f91d09babace" Alias="ReleaseDT - Affected Services - Multinode Treepicker" Level="1">
  <Info>
    <Name>ReleaseDT - Affected Services - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "serviceDT",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>