<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7432ba9f-4ff4-429a-86dc-274f5246cdee" Alias="ReleaseDT - New Services - Multinode Treepicker" Level="1">
  <Info>
    <Name>ReleaseDT - New Services - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "serviceDT",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/93c1d0babdf442c29850f1c1d5994c10",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>