@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>SME Products</title>

    <!-- Styles -->
    <link href="~/css/page.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png">
    <link rel="icon" href="~/img/favicon.png">
</head>


<body dir="rtl">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-stick-dark">
        <div class="container">

            <div class="navbar-left">
                <button class="navbar-toggler" type="button">&#9776;</button>
@*                <a class="navbar-brand" href="index.html">
                    <img class="logo-dark" src="~/img/logo-dark.png" alt="logo">
                    <img class="logo-light" src="~/img/logo-light.png" alt="logo">
                </a>*@
            </div>

            <section class="navbar-mobile">
                <span class="navbar-divider d-mobile-none"></span>

                <ul class="nav nav-navbar">
                    <li class="nav-item">
                        <a class="nav-link" href="#">الأنظمة <span class="arrow"></span></a>
                        <nav class="nav">
                            <a class="nav-link" href="~/products/sme-eservices/">بوابة خدمات المستفيدين</a>
                            <a class="nav-link" href="#">بوابة خدمات الموظفين</a>
                            <a class="nav-link" href="#">نوافذ</a>
                        </nav>
                    </li>

                   

                </ul>
            </section>

            <a class="btn btn-sm btn-round btn-success" href="https://www.sme.gov.om/">موقع الهيئة</a>

        </div>
    </nav><!-- /.navbar -->
    <!-- Header -->
    <header class="header text-white bg-dark pt-9 pb-5" style="background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);">
        <div class="container" style="text-align: center;">
            <h3>دليل أنظمة هيئة تنمية المؤسسات الصغيرة والمتوسطة</h3>
        </div>
    </header>
    <!-- /.header -->
    <!-- Main Content -->
    <main class="main-content">
        <div class="container">
            <div class="row">
                <!--
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                | Content
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                !-->
                <div class="col-md-8 col-xl-9 ml-md-auto py-8">
                    <article style="text-align:right;">

                        @RenderBody()

                    </article>
                </div>
                <!--
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                | Sidebar
                |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                !-->
                @*<div class="col-md-4 col-xl-3">
                    <hr class="d-md-none">
                    <aside class="sidebar sidebar-sticky sidebar-stick-shadow pr-md-5 br-1">
                        <ul class="nav nav-sidebar nav-sidebar-hero" data-accordion="true">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Getting started <i class="nav-angle"></i></a>
                                <div class="nav">
                                    <a class="nav-link" href="kb-introduction.html">Introduction</a>
                                    <a class="nav-link" href="kb-contents.html">Contents</a>
                                    <a class="nav-link" href="kb-basic-starter.html">Basic starter</a>
                                    <a class="nav-link" href="kb-expert-starter.html">Expert starter</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Content <i class="nav-angle"></i></a>
                                <div class="nav">
                                    <a class="nav-link" href="typography.html">Typography</a>
                                    <a class="nav-link" href="code.html">Code</a>
                                    <a class="nav-link" href="icon.html">Icon</a>
                                    <a class="nav-link" href="image.html">Image</a>
                                    <a class="nav-link" href="table.html">Table</a>
                                    <a class="nav-link" href="video.html">Video</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Layout <i class="nav-angle"></i></a>
                                <div class="nav">
                                    <a class="nav-link" href="navbar.html">Navbar</a>
                                    <a class="nav-link" href="sidebar.html">Sidebar</a>
                                    <a class="nav-link" href="toc.html">Table of content</a>
                                    <a class="nav-link" href="utility.html">Utility classes</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="#">Components <i class="nav-angle"></i></a>
                                <div class="nav">
                                    <a class="nav-link active" href="accordion.html">Accordion</a>
                                    <a class="nav-link" href="alert.html">Alert</a>
                                    <a class="nav-link" href="badge.html">Badge</a>
                                    <a class="nav-link" href="button.html">Button</a>
                                    <a class="nav-link" href="files.html">Files</a>
                                    <a class="nav-link" href="form.html">Form</a>
                                    <a class="nav-link" href="pagination.html">Pagination</a>
                                    <a class="nav-link" href="palette.html">Palette</a>
                                    <a class="nav-link" href="progress.html">Progress</a>
                                    <a class="nav-link" href="scroll.html">Scroll</a>
                                    <a class="nav-link" href="social.html">Social</a>
                                    <a class="nav-link" href="steps.html">Steps</a>
                                    <a class="nav-link" href="tab.html">Tab</a>
                                </div>
                            </li>

                        </ul>
                    </aside>
                </div>*@


                


            </div>
        </div>
    </main><!-- /.main-content -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row gap-y align-items-center">

@*                <div class="col-md-9">
                    <div class="nav justify-content-center justify-content-md-start">
                        <a class="nav-link" href="index.html">Home</a>
                        <a class="nav-link" href="docs/kb-introduction.html">Docs</a>
                        <a class="nav-link" href="page/changelog-1.html">Changelog</a>
                        <a class="nav-link" href="https://themeforest.net/item/thedocs-online-documentation-template/13070884?license=regular&open_purchase_for_item_id=13070884&purchasable=source&ref=thethemeio">Purchase</a>
                    </div>
                </div>*@

                <div class="col-md-3 text-center text-md-right">
                    <a href="https://www.sme.gov.om/">هيئة تنمية المؤسسات الصغيرة والمتوسطة</a>
                </div>
            </div>
        </div>
    </footer><!-- /.footer -->
    <!-- Scripts -->
    <script src="~/js/page.min.js"></script>
    <script src="~/js/script.js"></script>

</body>













</html>