<?xml version="1.0" encoding="utf-8"?>
<Content Key="198ee2f9-b35c-492c-b7d3-8bdab67575bf" Alias="1_0_0" Level="5">
  <Info>
    <Parent Key="0dd0e161-840d-46a7-8426-dd32ccb77dad">Releases</Parent>
    <Path>/Home/Products/SMEEServices/Releases/</Path>
    <Trashed>false</Trashed>
    <ContentType>releaseDT</ContentType>
    <CreateDate>2023-07-04T11:37:04</CreateDate>
    <NodeName Default="1_0_0" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe493d21-1b84-412c-b899-7149add8359c">ReleaseTemplate</Template>
  </Info>
  <Properties>
    <affectedServices>
      <Value><![CDATA[umb://document/1c7665c7d32f4c3b9495c5b0a2656b09]]></Value>
    </affectedServices>
    <changes>
      <Value><![CDATA[<p style="text-align: right;">إمكانية إغلاق الطلبات العامة مباشرة (بدون تنبيه مقدم الطلب) وذلك عبر صلاحية خاصة</p>
<p style="text-align: right;">إرسال إيميل ورسالة نصية تلقاءية عند الرد على طلب عام وتوجيهه للمستفيد</p>
<p style="text-align: right;">إرسال إيميل فقط للموظفين عند تحويل الطلب  العام لموظف إخر</p>]]></Value>
    </changes>
    <newServices>
      <Value><![CDATA[]]></Value>
    </newServices>
    <number>
      <Value><![CDATA[1.0.0]]></Value>
    </number>
    <releaseDate>
      <Value><![CDATA[2023-06-30T00:00:00]]></Value>
    </releaseDate>
    <screenshots>
      <Value><![CDATA[[]]]></Value>
    </screenshots>
    <solvedBugs>
      <Value><![CDATA[]]></Value>
    </solvedBugs>
  </Properties>
</Content>