<?xml version="1.0" encoding="utf-8"?>
<Content Key="e809d7a3-3b24-4b16-838f-cb7a0208ad8a" Alias="1_0_1" Level="5">
  <Info>
    <Parent Key="0dd0e161-840d-46a7-8426-dd32ccb77dad">Releases</Parent>
    <Path>/Home/Products/SMEEServices/Releases/</Path>
    <Trashed>false</Trashed>
    <ContentType>releaseDT</ContentType>
    <CreateDate>2023-07-04T11:35:22</CreateDate>
    <NodeName Default="1_0_1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe493d21-1b84-412c-b899-7149add8359c">ReleaseTemplate</Template>
  </Info>
  <Properties>
    <affectedServices>
      <Value><![CDATA[umb://document/f17c526a5c4a41dcb5428c5fedd1c471]]></Value>
    </affectedServices>
    <changes>
      <Value><![CDATA[<p>sduighseriurgheruwgergergre[gerg</p>
<p>erg</p>
<p>erg</p>
<p>er</p>
<p>whtr</p>
<p>hw</p>
<p>rtth</p>
<p>werth</p>
<p>wrth</p>]]></Value>
    </changes>
    <newServices>
      <Value><![CDATA[umb://document/f17c526a5c4a41dcb5428c5fedd1c471]]></Value>
    </newServices>
    <number>
      <Value><![CDATA[1.0.1]]></Value>
    </number>
    <releaseDate>
      <Value><![CDATA[2023-07-27T00:00:00]]></Value>
    </releaseDate>
    <screenshots>
      <Value><![CDATA[[
  {
    "key": "5a0c3c9f-e062-4725-b1b9-5cbe4bc18318",
    "mediaKey": "611a29b1-afcc-43cf-ab2d-26a54207e33c"
  },
  {
    "key": "0d808825-d349-48ec-bf3a-98de000ee520",
    "mediaKey": "aa2d4c5a-e655-40e2-98ab-3e53932e1335"
  }
]]]></Value>
    </screenshots>
    <solvedBugs>
      <Value><![CDATA[umb://document/1c18460d57cc4c0880bff0a68feb8d60,umb://document/b5dae61a14524ca7b5b2852f56e153e4]]></Value>
    </solvedBugs>
  </Properties>
</Content>