<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c18460d-57cc-4c08-80bf-f0a68feb8d60" Alias="Bug 1" Level="5">
  <Info>
    <Parent Key="e5c53e53-5c59-47b2-8568-cbf1433875d5">Bugs</Parent>
    <Path>/Home/Products/SMEEServices/Bugs/Bug1</Path>
    <Trashed>false</Trashed>
    <ContentType>bugDT</ContentType>
    <CreateDate>2023-07-04T10:07:03</CreateDate>
    <NodeName Default="Bug 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <affectingService>
      <Value><![CDATA[]]></Value>
    </affectingService>
    <description>
      <Value><![CDATA[<p style="direction: rtl;">وصف المشكلة هنا ..</p>
<p style="direction: rtl;">.....</p>
<p style="direction: rtl;">......</p>]]></Value>
    </description>
    <isSolved>
      <Value><![CDATA[1]]></Value>
    </isSolved>
    <title>
      <Value><![CDATA[مشكلة 1]]></Value>
    </title>
  </Properties>
</Content>