<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5dae61a-1452-4ca7-b5b2-852f56e153e4" Alias="Bug 2" Level="5">
  <Info>
    <Parent Key="e5c53e53-5c59-47b2-8568-cbf1433875d5">Bugs</Parent>
    <Path>/Home/Products/SMEEServices/Bugs/Bug2</Path>
    <Trashed>false</Trashed>
    <ContentType>bugDT</ContentType>
    <CreateDate>2023-07-04T10:33:05</CreateDate>
    <NodeName Default="Bug 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <affectingService>
      <Value><![CDATA[]]></Value>
    </affectingService>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isSolved>
      <Value><![CDATA[0]]></Value>
    </isSolved>
    <title>
      <Value><![CDATA[Bug 22222]]></Value>
    </title>
  </Properties>
</Content>