<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5c53e53-5c59-47b2-8568-cbf1433875d5" Alias="Bugs" Level="4">
  <Info>
    <Parent Key="a9356e5a-10ce-4869-8614-b25ce87cb713">SME EServices</Parent>
    <Path>/Home/Products/SMEEServices/Bugs</Path>
    <Trashed>false</Trashed>
    <ContentType>bugsDT</ContentType>
    <CreateDate>2023-07-04T10:11:40</CreateDate>
    <NodeName Default="Bugs" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <nonClosedBugs>
      <Value><![CDATA[]]></Value>
    </nonClosedBugs>
  </Properties>
</Content>