<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c7665c7-d32f-4c3b-9495-c5b0a2656b09" Alias="General Request" Level="3">
  <Info>
    <Parent Key="93c1d0ba-bdf4-42c2-9850-f1c1d5994c10">Services</Parent>
    <Path>/Home/Services/GeneralRequest</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDT</ContentType>
    <CreateDate>2023-07-27T08:10:22</CreateDate>
    <NodeName Default="General Request" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[طلب عام من المستفيدـ من الممكن أن يحوي على :
شكوى
مقترح
إستفسار
رأي]]></Value>
    </description>
    <isEnabled>
      <Value><![CDATA[1]]></Value>
    </isEnabled>
    <regulations>
      <Value><![CDATA[]]></Value>
    </regulations>
    <title>
      <Value><![CDATA[الطلبات العامة]]></Value>
    </title>
    <uRL>
      <Value><![CDATA[]]></Value>
    </uRL>
  </Properties>
</Content>