<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f8c1feb-1930-4362-b230-8872282f4ed7" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homeDT</ContentType>
    <CreateDate>2023-07-04T09:35:15</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5430f80c-1ee8-439b-aca0-da6941f58c46">HomeLayout</Template>
  </Info>
  <Properties />
</Content>