<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a408118-b1fe-4981-bc6a-fbbf8b6027a7" Alias="Products" Level="2">
  <Info>
    <Parent Key="8f8c1feb-1930-4362-b230-8872282f4ed7">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>productsDT</ContentType>
    <CreateDate>2023-07-04T09:35:42</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>