<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dd0e161-840d-46a7-8426-dd32ccb77dad" Alias="Releases" Level="4">
  <Info>
    <Parent Key="a9356e5a-10ce-4869-8614-b25ce87cb713">SME EServices</Parent>
    <Path>/Home/Products/SMEEServices/Releases</Path>
    <Trashed>false</Trashed>
    <ContentType>releasesDT</ContentType>
    <CreateDate>2023-07-04T10:14:49</CreateDate>
    <NodeName Default="Releases" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>