<?xml version="1.0" encoding="utf-8"?>
<Content Key="93c1d0ba-bdf4-42c2-9850-f1c1d5994c10" Alias="Services" Level="2">
  <Info>
    <Parent Key="8f8c1feb-1930-4362-b230-8872282f4ed7">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesDT</ContentType>
    <CreateDate>2023-07-04T10:16:08</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>