<?xml version="1.0" encoding="utf-8"?>
<Content Key="f17c526a-5c4a-41dc-b542-8c5fedd1c471" Alias="SME Card" Level="3">
  <Info>
    <Parent Key="93c1d0ba-bdf4-42c2-9850-f1c1d5994c10">Services</Parent>
    <Path>/Home/Services/SMECard</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDT</ContentType>
    <CreateDate>2023-07-04T10:19:59</CreateDate>
    <NodeName Default="SME Card" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <isEnabled>
      <Value><![CDATA[0]]></Value>
    </isEnabled>
    <regulations>
      <Value><![CDATA[]]></Value>
    </regulations>
    <title>
      <Value><![CDATA[بطاقة ريادة]]></Value>
    </title>
    <uRL>
      <Value><![CDATA[]]></Value>
    </uRL>
  </Properties>
</Content>