<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9356e5a-10ce-4869-8614-b25ce87cb713" Alias="SME EServices" Level="3">
  <Info>
    <Parent Key="9a408118-b1fe-4981-bc6a-fbbf8b6027a7">Products</Parent>
    <Path>/Home/Products/SMEEServices</Path>
    <Trashed>false</Trashed>
    <ContentType>productDT</ContentType>
    <CreateDate>2023-07-04T09:37:03</CreateDate>
    <NodeName Default="SME EServices" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4eb8392d-c4d1-4964-a8f8-50145036c990">ProductLayout</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[نظام الخدمات الموحد للمستفيدين]]></Value>
    </description>
    <serviceURL>
      <Value><![CDATA[https://eservices.sme.gov.om/]]></Value>
    </serviceURL>
    <title>
      <Value><![CDATA[بوابة خدمات المؤسسات الصغيرة والمتوسطة]]></Value>
    </title>
  </Properties>
</Content>